.signupForm {
    background-color: rgb(231, 110, 110);
    padding: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.user-input-field {
    border-style: solid;
    border-radius: 5px;
}