
.listings-show {
    padding: 40px;
}

.listing-title-show {
    font-size: 28px;
    font-family: "AirbnbMed";
    padding-bottom: 10px;
}

.show-heading-container p {
    font-family: "AirbnbMed";
}

.show-main-pic {
    width: 600px;
    height: auto;
    margin-top:24px ;
}

.show-body-container {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 50px;
}

.host-information {
    font-size: 22px;
    font-family: "AirbnbMed";
}

.show-body-info {
    /* padding: 10%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.show-body-reservation {
    padding: 10%;
    border: 1px solid rgb(255, 0, 123);
}

.show-body-info p {
    border: 1px solid aqua 
}

.show-body-info .main-features {
    padding-bottom: 20px;
    border-bottom: solid;
    font-size: 16px;
}

.show-body-info .description {
    padding-bottom: 20px;
    border-bottom: solid;
}

.show-body-info .amenities h2 {
    font-family: "AirbnbMed";
    font-size: 22px;
}

.amenities-container {
    height: 100%;
   }
   
.amenities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   
.amenity-column {
    display: flex;
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}
   
.amenity-item{
    display: flex;
    align-items: center;
}
   
.amenity-column img {
    width: 24px;
    height: 24px;
    margin-left: 0;
    margin-right: 16px;
}

.show-reviews-container {
    margin-top: 10px;
    border: 1px solid black;
}


.show-map-container {
    margin-top: 10px;
    border: 1px solid black;
}

@media (max-width: 768px) {
    .listing-index-item {
      max-width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .listing-index-item {
      max-width: 100%;
    }
  }