h1 {
    font-size: 100px;
}


.listings-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 100%;
    margin-top: 20px;
}

.listing-index-item {
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 20%;
    cursor: pointer;
}

.listing-pic {
    /* max-width: 200px; */
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.listing-area {
    font-family: "AirbnbMed" ;
}

.listing-area, .listing-title, .listing-price-container {
    padding: 5px;
    padding-bottom: 0px;
}

.listing-price-container span {
    font-family: "AirbnbMed";
}

.category-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.category-icon {
    max-width: 60px;
    height: auto;
    padding: 2%;
    cursor: pointer;
    /* align-items: center; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
}

/* .category-name {
    align-items: center;
} */

.listings-show {
    padding: 40px;
}

.show-main-pic {
    width: 500px;
    height: auto;
}

.show-body-container {
    display: flex;
    flex-direction: row;
}

.show-body-info {
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.show-body-reservation {
    padding: 10%;
}

.show-body-info p {
    border-style: dashed;
    border-color: black;
    background-color: aqua;
}

.show-body-info .main-features {
    padding-bottom: 10px;
    border-bottom: solid;
}

.show-body-info .description {
    padding-bottom: 10px;
    border-bottom: solid;
}

.show-body-info .amenities h2 {
    font-family: "AirbnbMed";
    font-size: larger;
}