h1 {
    font-size: 100px;
}

.listings-index {
    padding: 1%;
    max-width: 1000px;
}

.listing-pic {
    max-width: 200px;
    height: auto;
}

.listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: blue; */
}

.listing-index-item {
    padding: 2%;
    max-width: 200px;
}

.listing-area {
    font-family: "AirbnbMed" ;
}