
.listings-show {
    /* padding-left: 50px;
    padding-right: 50px; */
    width: fit-content;
}

.listing-title-show {
    font-size: 40px;
    font-family: "AirbnbMed";
    padding-bottom: 10px;
}

.show-heading-container p {
    font-family: "AirbnbMed";
    font-size: 20px;
}

.star {
    max-width: 20px;
}

#star-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.show-pic-container {
    display: flex;
    flex-direction: row;
    height: 530px;
    column-gap: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.show-main-pic {
    width: 800px;
    height: auto;
    margin-top:24px;
    border-top-left-radius: 20px;
}

.show-side-pics {
    width: 495px;
    height: 495px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 48px;
    column-gap: 15px;
    row-gap: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow:hidden
}

.side-pic-container {
    width: 240px;
    height: 240px;
}

.side-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


  

.show-body-container {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 50px;
}

.host-information {
    font-size: 30px;
    font-family: "AirbnbMed";
}

.show-body-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
}



.show-body-container p {
    border: 2px solid aqua 
}

.show-body-info .main-features {
    padding-bottom: 20px;
    border-bottom: solid;
    font-size: 20px;
}

.show-body-info .description {
    padding-bottom: 20px;
    border-bottom: solid;
    font-size: 18px;
}

.show-body-info .amenities h2 {
    font-family: "AirbnbMed";
    font-size: 26px;
}


.amenities-container {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-top: 15px;
    flex-wrap: wrap;
}
   
.amenities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;   
}
   
.amenity-column {
    display: flex;
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}
   
.amenity-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
   
.amenity-column img {
    width: 36px;
    height: 36px;
    margin-left: 0;
    margin-right: 16px;
}

.amenity-name {
    font-size: 20px;
}

.show-reviews-container {
    margin-top: 10px;
    /* border: 2px solid black; */
}


.show-map-container {
    margin-top: 50px;
    margin-bottom: 50px;
    /* width: 50%;
    height: 400px; */
}

#map-heading {
    font-family: "Airbnbmed";
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .listing-index-item {
      max-width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .listing-index-item {
      max-width: 100%;
    }
  } 