.review-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    /* background-color: transparent; */
    /* border: none; */
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; 
    padding: 20px;
}

.reviewForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    z-index: 102;
}

.close-review {
    position: fixed;
    top: 38%;
    right: 30%;
    /* transform: translate(-50%, -50%); */
    /* background-color: #fff; */
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
    /* margin: 0 auto; */
    z-index: 102;
}