.review-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    /* background-color: transparent; */
    /* border: none; */
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; 
    padding: 20px;
}

.reviewForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 3%;
    z-index: 102;
}

.close-review {
    position: fixed;
    top: 28%;
    right: 28%;
    /* transform: translate(-50%, -50%); */
    /* background-color: #fff; */
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
    /* margin: 0 auto; */
    z-index: 102;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#comment-box {
    /* background-color: black; */
    width: 500px;
}

.review-button {
    color: #fff;
    border: none;
    width: 50%;
    border-radius: 4px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    background-image: linear-gradient(to right, #fc365b, #db1064, #bb1e59);
}

.review-button:hover {
    background-image: linear-gradient(to left, #fc365b, #db1064, #bb1e59);

}